{% extends "home_base.html" %}

{% block title %}Past Paper Pal{% endblock %}

{% block content %}

{% load static %}

<div class="row">

<a href="/"><img style="margin:auto; display:block; margin-top:190px;" src="{% static 'pastpaperpal_logo.png' %}" height=120px></a>

<form style="width:350px; margin:auto; margin-top:50px;">
	<div id="search_area" class="form-group has-feedback">

		<input style="display:none" type="text"/>   <!-- prevent pressing enter (for now) -->
		<input autofocus autocomplete="off" id="module_search" type="text" class="form-control" placeholder="Search a module code..." style="width:350px;">
		<span class="glyphicon glyphicon-search form-control-feedback" style="font-size:24px; top:8px; right:9px; color:white;"></span>

		<div id="search_dropdown" class="dropdown">
			<ul style="overflow-y:scroll; max-height:246px; min-width:350px;" id="dropdown_results" class="dropdown-menu"></ul>

		</div>

	</div>
</form>

</div>

<script>   // populate list of modules and paper counts from server (on page load)
	var modules = {{module_codes|safe}};
	var counts = {{count_papers|safe}};
</script>

<script src="{% static 'module_search.js' %}"></script>

{% endblock %}