{% extends "base.html" %}

{% block title %}Module{% endblock %}

{% block content %}

{% load static %}

<style>

#local_nav {
	margin-bottom: 15px;
}

.tile {
	float: left;
	width:175px;
	height:150px;
	text-align: center;
	background-color: #f5f5f5;
	border-radius: 5px;
	margin: 10px;
	margin-left: 5px;
}

.tile h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.tile h2 small {
	font-size: 60%;
	color: #525252;
}

.tile #icon-wrapper {
	width: 40px;
	position: relative;
	margin: auto;
}

.tile #icon-overlay {
	position: absolute;
	top: 9px;
	left: 3px;
	font-size: 35px;
}

.paper-progress {
	margin-left: 5px;
	margin-bottom: 13px;
	box-shadow: none;
	width: 265px;
	height: 100%;
	position: relative;
	text-align: center;
/*	float: left;
	margin-right: 10px;*/
}

.paper-progress .progress-bar {
	background-color: #14b393;
	opacity: 0.2;
	position: absolute;
}

.paper-btn {
	padding: 13px 15px;
}

.progress:hover, .paper-btn:hover {
	background-color: #ececec;
}

.paper-a {
	color: inherit;
}

.paper-a:hover {
	color: inherit;
	text-decoration: none;
}

</style>

{% if message %}
	<div class="alert alert-success alert-dismissable">
		<a class="close" data-dismiss="alert">&times;</a>
		Success! Your uploaded paper has been successfully added.
	</div>
{% endif %}

<div id="local_nav">

	{{module|upper}}

</div>


<div class="row" style="margin-left:5px;">

<h4>Exam Format <span style="color:#1c8d76;" class="glyphicon glyphicon-info-sign pop-over" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="This data has been extracted from the most recent available paper for this module (20{{latest_paper.year}}). You are reminded that the exam format is subject to change year-on-year, so please check with your module organiser for the most up-to-date information."></span></h4>

<div class="tile">

	<h2 style="margin-bottom:16px;"><small>TIME ALLOWED</small></h2>

	<span style="font-size:30px;" class="glyphicon glyphicon-time"></span>
	
	{% if not time_mins %}
	<p style="margin-top:-3px; font-size:28px;">{{time_hrs}} hours</p>
	{% else %}
	<p style="margin-top:-3px; font-size:28px;">{{time_hrs}}h {{time_mins}}</p>
	{% endif %}

</div>

<div class="tile">
	<h2><small>QUESTIONS</small></h2>

	{% if rubric.choice_choose %}

	<div style="display:inline-block; line-height:0.9;">
		<div style="margin-right:20px; float:left; position:relative;">
			<p style="font-size:45px;">{{rubric.choice_choose}}</p>
			<p style="color:#6d6d6d;">ANY</p>
			<span style="position:absolute; top:20px; right:-24px; font-size:35px;">/</span>
		</div>
		<div style="float:left;">
			<p style="color:#6d6d6d;">OUT OF</p>
			<p style="font-size:45px;">{{rubric.total_qs}}</p>
		</div>
	</div>

	{% else %}

	<div style="display:inline-block; line-height:0.8;">
		<div style="margin-right:14px; float:left;">
			<p style="color:#6d6d6d;">TOTAL</p>
			<p style="font-size:45px;">{{rubric.total_qs}}</p>
		</div>
		<div style="margin-top:16px; float:left;">
			<span style="color:#1c8d76; font-size:25px;" class="glyphicon glyphicon-info-sign pop-over" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Original Instructions"  data-content='"{{rubric.choice_text}}."'></span>
		</div>
	</div>

	{% endif %}

</div>

<div class="tile">

	<h2 style="margin-bottom:8px;"><small>CALCULATORS</small></h2>

	<div id="icon-wrapper">
		<img style="opacity:0.8;" src="{% static 'calculator.png' %}" width=100%>
		{% if rubric.calcs_allowed %}
			<span id="icon-overlay" style="left:1px; color:#1c8d76;" class="glyphicon glyphicon-ok"></span>
		{% else %}
			<span id="icon-overlay" style="color:#c70000;" class="glyphicon glyphicon-remove"></span>
		{% endif %}
	</div>

	<h2 style="margin-top:0;"><small style="font-size:50%; color:black;">
		{% if rubric.calcs_allowed is None %}
			NOT NECESSARY
		{% elif rubric.calcs_allowed %}
			ALLOWED
		{% else %}
			NOT ALLOWED
		{% endif %}
	</small></h2>
	
</div>

</div>

<div class="row" style="margin-left:5px; margin-top:15px;">
<h4 style="margin-bottom:20px;">Available Papers</h4>

{% for p in papers %}

<div class="progress paper-progress">
	<a href="{{p.year}}" class="paper-a">
	<div class="progress-bar" style="width:{{p.completed_percent}}%"></div>
	<div class="paper-btn">
		<span style="font-size:18px;">20{{ p.year }} &bull; </span><span style="font-size:15px;">{{p.completed_qs}}/{{p.total_qs}} questions completed</span>
	</div>
	</a>
</div>

{% endfor %}

</div>


<script>
	$('.pop-over').popover();
</script>

{% endblock %}