{% extends "base.html" %}

{% block title %}Paper{% endblock %}

{% block nav_upload %}
    class="active"
{% endblock %}

{% block content %}

{% load static %}

<script>

	$(document).ready(function() {
		$('#upload').click(function() {
		    var input = $(this).next().find('input');
		    input.click();
		});
		$('#id_file').change(function() {   // submit file upload once chosen
			$('#upload_form').submit();
			$('#form').hide();
			$('#processing').show();
		});

	});

</script>

<div class="row">

	<div class="col-md-4"></div>

	<div class="col-md-4 text-center" style="margin-top: 150px;">
		<div id="form">

		<form method="post" enctype="multipart/form-data" id="upload_form">
		{% csrf_token %}
		
		<button type="button" class="btn btn-default btn-lg" id="upload"><span class="glyphicon glyphicon-upload"></span> Upload a new paper</button>

		<div style="height:0px; width:0px; overflow:hidden;">{{ form.file }}</div>

		<!-- <h4><small>PDF only please</small></h4> -->

		</form>
			</div>
		<div id="processing" style="display:none">
		<img src="{% static 'ring-alt.svg' %}" id="loading_gif"/>
		<h3><small>processing upload...</small></h3>
		</div>
	</div>

	<div class="col-md-4"></div>

</div>

{% endblock %}