
/*h3 {color:green;}*/

/*.container {
	margin-top: 5%;
	width: 70%;
	max-width: 800px;
	min-width: 600px;
}*/

.vertical-center {
	min-height: 85%;
	display: flex;
	align-items: center;
}

/*.glyphicon.glyphicon-upload {
	font-size: 70px;
	padding: 15px;
}*/