
/*h3 {color:green;}*/

html {
	overflow-y: scroll;
}

.container {
/*	width: 1125px !important;*/
}

/*.vertical-center {
	min-height: 85%;
	display: flex;
	align-items: center;
}*/

/*.glyphicon.glyphicon-upload {
	font-size: 70px;
	padding: 15px;
}*/